---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | AcidMal">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">About You!</h1>
    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
      <p class="text-gray-600 dark:text-gray-300 mb-4">
        Welcome to your website. This is your about page. You can use this as a starting point to let users know about you.
        Feel free to edit this page to fit your needs. Add some content to it and have fun!
      </p>
    </div>
  </div>
</Layout>


